__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*.pyo
*.pyd

.venv/
.env
.env.*
.python-version
.tool-versions

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/

build/
dist/
*.egg-info/
**/*.egg-info/

.git/
.gitignore
.github/
.idea/
.vscode/
.DS_Store

data/
