# General
TZ=America/Fortaleza
CRON=' 0 0 * * 1'

# GitHub
GITHUB_USERNAME=github_username
GITHUB_TOKEN=github_token

# GitLab
GITLAB_TOKEN=gitlab_token
GITLAB_URL=https://gitlab.com
GITLAB_NAMESPACE=gitlab_namespace
GITLAB_NAMESPACE_ID=gitlab_namespace_id

# Mirrors
MIRRORS_INCLUDE_FORKS=true
MIRRORS_INCLUDE_ARCHIVED=true
