# General
TZ=America/Fortaleza
CRON='0 0 * * 1'

# GitHub
GITHUB_USERNAME=github_username
GITHUB_TOKEN=github_token

# GitLab
GITLAB_TOKEN=gitlab_token
GITLAB_URL=https://gitlab.com
GITLAB_NAMESPACE_ID=12345678

# Mirrors
MIRRORS_INCLUDE_FORKS=true
MIRRORS_INCLUDE_ARCHIVED=true
MIRRORS_OVERRIDE=false
